In [14]:
import pandas as pd
import requests
from selenium import webdriver
from webdriver_manager.firefox import GeckoDriverManager
from selenium.webdriver.firefox.service import Service
from selenium.webdriver.common.by import By
import io
from io import BytesIO
import time

# URL du site web 
url = "https://www.agriculture.gov.au/abares/research-topics/agricultural-outlook/data#australian-crop-report-data"

# Démarrer web driver
driver = webdriver.Firefox(service=Service(GeckoDriverManager().install()))
# Aller sur le site web
driver.get(url)
# Attendre que la page se charge
time.sleep(5)

# XPath du fichier Excel 
xpath = '//*[@id="block-system-main-block"]/article/div/div/div[1]/div[3]/div/div/table/tbody/tr[1]/td[1]/a'

# Trouver le premier élément qui correspond au XPath
element = driver.find_element(By.XPATH,xpath)

# Obtenir l'URL du fichier Excel à partir de l'attribut 'href' de l'élément
excel_url = element.get_attribute('href')

# Fermer WebDriver
driver.quit()

# Télécharger le fichier Excel 
excel_response = requests.get(excel_url)

# Lire le contenu du fichier Excel en tant que DataFrame
fichier=io.BytesIO(excel_response.content)
df = pd.read_excel(fichier,sheet_name=None)
# Afficher le DataFrame
print(df)

{'Index':     Unnamed: 0               Australian crop report December 2023  \
0          NaN                                                NaN
1          NaN                                                NaN
2          NaN                                                NaN
3          NaN                                                NaN
4          NaN                                                NaN
5          NaN                                                NaN
6          NaN                                                NaN
7          NaN                                                NaN
8          NaN                                                NaN
9          NaN                                                NaN
10         NaN                                                NaN
11         NaN                                                NaN
12         NaN                                                NaN
13         NaN                                                NaN
14         NaN                                                NaN
15         NaN                                                NaN
16         NaN                                                NaN
17         NaN                                                NaN
18         NaN                                                NaN
19         NaN                                                NaN
20         NaN                                                NaN
21         NaN                                                NaN
22         NaN                                                NaN
23         NaN                                                NaN
24         NaN                                                NaN
25         NaN  © Commonwealth of Australia 2023. Ownership of...
26         NaN  ABARES 2023, Australian crop report: December ...

     Unnamed: 2  Unnamed: 3                                         Unnamed: 4
0           NaN         NaN                                                NaN
1           NaN         NaN                                                NaN
2           NaN         NaN                                                NaN
3           NaN         NaN                                                NaN
4           NaN         NaN                                                NaN
5   Data tables         NaN                                                NaN
6           NaN         NaN                                                NaN
7       Table 1         NaN  Table 1 Winter crop production, Australia, 198...
8       Table 2         NaN  Table 2 Winter crop area, Australia, 1989–90 t...
9       Table 3         NaN  Table 3 Summer crop area and production, Austr...
10      Table 4         NaN  Table 4 Winter crop forecasts, New South Wales...
11      Table 5         NaN  Table 5 Summer crop forecasts, New South Wales...
12      Table 6         NaN  Table 6 Winter crop forecasts, Queensland, 202...
13      Table 7         NaN  Table 7 Summer crop forecasts, Queensland, 202...
14      Table 8         NaN   Table 8 Winter crop forecasts, Victoria, 2023–24
15      Table 9         NaN  Table 9 Winter crop forecasts, South Australia...
16     Table 10         NaN  Table 10 Winter crop forecasts, Western Austra...
17     Table 11         NaN  Table 11 Winter crop production and area, Aust...
18     Table 12         NaN  Table 12 Summer crop production and area, Aust...
19     Table 13         NaN  Table 13 Production, major crops, Australian s...
20     Table 14         NaN  Table 14 Production, other crops, Australian s...
21     Table 15         NaN  Table 15 Supply and disposal of wheat, canola ...
22     Table 16         NaN  Table 16 Supply and disposal of coarse grains,...
23     Table 17         NaN  Table 17 Grain, oilseed and pulse prices, firs...
24          NaN         NaN                                                NaN
25          NaN         NaN                                                NaN
26          NaN         NaN                                                NaN  , 'Table 1':     Unnamed: 0                                         Unnamed: 1 Unnamed: 2  \
0          NaN                                                NaN        NaN
1          NaN                                                NaN        NaN
2          NaN                                                NaN        NaN
3          NaN                                                NaN        NaN
4          NaN                                                NaN        NaN
5          NaN  Table 1 Winter crop production, Australia, 198...        NaN
6          NaN                                               Year       Unit
7          NaN                                            1989–90         kt
8          NaN                                            1990–91         kt
9          NaN                                            1991–92         kt
10         NaN                                            1992–93         kt
11         NaN                                            1993–94         kt
12         NaN                                            1994–95         kt
13         NaN                                            1995–96         kt
14         NaN                                            1996–97         kt
15         NaN                                            1997–98         kt
16         NaN                                            1998–99         kt
17         NaN                                            1999–00         kt
18         NaN                                            2000–01         kt
19         NaN                                            2001–02         kt
20         NaN                                            2002–03         kt
21         NaN                                            2003–04         kt
22         NaN                                            2004–05         kt
23         NaN                                            2005–06         kt
24         NaN                                            2006–07         kt
25         NaN                                            2007–08         kt
26         NaN                                            2008–09         kt
27         NaN                                            2009–10         kt
28         NaN                                            2010–11         kt
29         NaN                                            2011–12         kt
30         NaN                                            2012–13         kt
31         NaN                                            2013–14         kt
32         NaN                                            2014–15         kt
33         NaN                                            2015–16         kt
34         NaN                                            2016–17         kt
35         NaN                                            2017–18         kt
36         NaN                                            2018–19         kt
37         NaN                                            2019–20         kt
38         NaN                                            2020–21         kt
39         NaN                                            2021–22         kt
40         NaN                                          2022–23 s         kt
41         NaN                                          2023-24 f         kt
42         NaN                       % change 2022–23  to 2023-24          %
43         NaN  f ABARES forecast. s ABARES estimate.\nNotes: ...        NaN

         Unnamed: 3 Unnamed: 4  Unnamed: 5       Unnamed: 6  \
0               NaN        NaN         NaN              NaN
1               NaN        NaN         NaN              NaN
2               NaN        NaN         NaN              NaN
3               NaN        NaN         NaN              NaN
4               NaN        NaN         NaN              NaN
5               NaN        NaN         NaN              NaN
6   New South Wales   Victoria  Queensland  South Australia
7          4841.223   3343.008    1829.027          4859.54
8          5826.706   2712.227    2486.538         3901.414
9          3909.599   2814.517     461.502         4534.015
10         5950.707   4120.684    1053.865         4797.718
11         7619.149   4479.907     834.394         4923.156
12         1528.143   1863.646     311.546         3044.445
13         6961.863    4500.51     745.907         5263.461
14        11286.144    4590.51     2468.14         5456.971
15         8557.372   3397.664    1639.374         5457.808
16         9717.859   3507.415    2323.341         6303.985
17        11525.912   5252.253    2221.165         4769.642
18        10829.162   6265.925    1338.758         7428.511
19        11169.933   5892.555    1156.408          8796.13
20         3484.555   1943.314     829.138         4222.664
21        10795.045   6961.477    1450.064         7359.142
22         10712.18   4214.428    1391.211         5297.508
23        11981.269   6266.823    1433.413         7517.847
24         3794.097     1747.9     924.215         2793.121
25         3999.205   4691.657    1194.122         4705.722
26         9438.381   3887.356    2325.569          4863.38
27         7786.963   5889.084    1616.867         7035.461
28         14783.65   7625.202    1820.613         9316.126
29        11952.068    7351.99      2328.7         7371.481
30        11123.416   6885.595    2156.003         6469.726
31         9772.994   6774.044     1516.17         7221.299
32         10444.88   5116.605     1463.68         7438.603
33        11623.645   3567.704    2103.724         6103.567
34        15510.259   9511.384     3159.24        10655.762
35         7743.001   7612.277    1437.898         7022.001
36         3243.472   4603.224     685.581         5486.945
37         3194.948   8334.363     694.754         5533.155
38        20332.159   9911.828    2392.115         7837.139
39        18896.966   8879.372        3486         8408.374
40         15470.16   11051.91    3359.712          12636.6
41        10331.597   9610.158    1749.725         8699.882
42          -33.216    -13.045      -47.92          -31.153
43              NaN        NaN         NaN              NaN

           Unnamed: 7 Unnamed: 8
0                 NaN        NaN
1                 NaN        NaN
2                 NaN        NaN
3                 NaN        NaN
4                 NaN        NaN
5                 NaN        NaN
6   Western Australia  Australia
7            6606.416  21518.534
8            7346.772  22325.977
9            7183.333  18962.288
10           8499.538  24487.185
11           9872.962  27796.784
12           7924.331  14719.274
13          10244.394  27785.136
14          11192.607  35060.019
15          11994.754  31112.569
16          12232.647  34159.264
17          13312.051  37141.718
18           8724.138  34662.351
19          12042.351  39132.959
20           6811.822  17359.461
21            16676.2  43313.331
22          12977.798  34670.877
23          13944.647  41226.046
24           8278.145  17580.385
25          10760.504  25415.201
26          13784.557  34377.266
27          12943.035  35343.283
28           8044.142  41672.012
29          16600.456  45672.773
30           11243.76  37936.026
31          16510.983  41880.733
32          14662.329  39197.548
33          14206.024  37686.737
34          17737.342  56675.335
35          14510.294   38395.55
36          17632.799   31736.71
37          12172.222  30002.894
38          16500.136  57075.422
39          23440.231  63221.504
40            26261.7  68938.873
41            15536.2  46072.169
42            -40.841     -33.17
43                NaN        NaN  , 'Table 2':     Unnamed: 0                                         Unnamed: 1 Unnamed: 2  \
0          NaN                                                NaN        NaN
1          NaN                                                NaN        NaN
2          NaN                                                NaN        NaN
3          NaN                                                NaN        NaN
4          NaN                                                NaN        NaN
5          NaN  Table 2 Winter crop area, Australia, 1989–90 t...        NaN
6          NaN                                               Year       Unit
7          NaN                                            1989–90    '000 ha
8          NaN                                            1990–91    '000 ha
9          NaN                                            1991–92    '000 ha
10         NaN                                            1992–93    '000 ha
11         NaN                                            1993–94    '000 ha
12         NaN                                            1994–95    '000 ha
13         NaN                                            1995–96    '000 ha
14         NaN                                            1996–97    '000 ha
15         NaN                                            1997–98    '000 ha
16         NaN                                            1998–99    '000 ha
17         NaN                                            1999–00    '000 ha
18         NaN                                            2000–01    '000 ha
19         NaN                                            2001–02    '000 ha
20         NaN                                            2002–03    '000 ha
21         NaN                                            2003–04    '000 ha
22         NaN                                            2004–05    '000 ha
23         NaN                                            2005–06    '000 ha
24         NaN                                            2006–07    '000 ha
25         NaN                                            2007–08    '000 ha
26         NaN                                            2008–09    '000 ha
27         NaN                                            2009–10    '000 ha
28         NaN                                            2010–11    '000 ha
29         NaN                                            2011–12    '000 ha
30         NaN                                            2012–13    '000 ha
31         NaN                                            2013–14    '000 ha
32         NaN                                            2014–15    '000 ha
33         NaN                                            2015–16    '000 ha
34         NaN                                            2016–17    '000 ha
35         NaN                                            2017–18    '000 ha
36         NaN                                            2018–19    '000 ha
37         NaN                                            2019–20    '000 ha
38         NaN                                            2020–21    '000 ha
39         NaN                                            2021–22    '000 ha
40         NaN                                          2022–23 s    '000 ha
41         NaN                                          2023–24 f    '000 ha
42         NaN                          change 2022–23 to 2023–24          %
43         NaN  f ABARES forecast. s ABARES estimate.\nNotes: ...        NaN

           Unnamed: 3 Unnamed: 4  Unnamed: 5       Unnamed: 6  \
0                 NaN        NaN         NaN              NaN
1                 NaN        NaN         NaN              NaN
2                 NaN        NaN         NaN              NaN
3                 NaN        NaN         NaN              NaN
4                 NaN        NaN         NaN              NaN
5                 NaN        NaN         NaN              NaN
6   New South \nWales   Victoria  Queensland  South Australia
7            3076.358   1814.547    1147.332         2860.921
8            3234.096   1866.916    1353.088         2713.525
9            2834.755   1794.777     704.773          2681.68
10           3005.767   1996.138     912.714         2846.786
11            3289.14   2099.858     815.896         2738.004
12           2579.453   2076.104     530.838         2741.614
13           3837.823   2197.453     844.112          2974.72
14           4676.443   2326.249    1225.306         3047.039
15           4543.845   2304.978    1187.732         3024.841
16           4925.747   2453.385    1377.743         3376.304
17           4977.248   2741.417    1282.035         3361.824
18           5395.149   2723.157    1087.987         3635.178
19           5308.641   2690.482     777.207         3800.736
20           4784.829   2914.812      715.84         3962.964
21           6101.873   3140.843    1027.013         3965.818
22           6438.776   3191.529     856.944         3964.479
23           5592.936   2969.206     965.638         3868.154
24           5671.152   3081.902     808.083         4140.694
25            6311.97   3375.025      872.57         4130.828
26           6295.016   3491.557    1208.452         3978.706
27           6105.974   3488.438    1172.971         3782.862
28           6157.614   3456.766    1216.739         3821.064
29           5969.049   3410.524    1204.958         3837.846
30           5852.155   3457.005    1222.316         3776.293
31           5313.871   3282.525    1105.308         3448.352
32           5491.147    3303.75      995.42         3638.508
33           5375.137   2914.823    1048.682         3152.365
34           6062.344   3230.918     1375.08         3904.354
35           5489.351   3508.836    1302.093         3644.832
36           3990.343   3349.635      725.12         3391.294
37           3789.405   3534.014     748.232         3473.315
38           7069.647   3599.412     1511.01         3660.692
39           6417.655   3488.666    1531.878         3789.422
40             5856.6       3567      1359.5             3981
41             5511.5   3568.396      1234.5         3945.606
42             -5.892      0.039      -9.195           -0.889
43                NaN        NaN         NaN              NaN

           Unnamed: 7 Unnamed: 8
0                 NaN        NaN
1                 NaN        NaN
2                 NaN        NaN
3                 NaN        NaN
4                 NaN        NaN
5                 NaN        NaN
6   Western Australia  Australia
7            4955.821  13873.634
8            5160.261  14349.881
9            5018.195  13058.076
10           5497.901  14284.325
11           5945.715   14915.05
12           6033.949  13988.148
13           6244.624  16126.669
14           6793.986  18097.638
15           7159.081  18247.356
16           7420.099  19580.726
17           7458.137  19846.413
18           7384.106  20252.516
19           7175.084  19775.241
20           7178.123  19582.071
21           7682.675  21943.717
22           7932.233   22406.92
23           7406.689   20827.28
24           6477.255  20200.974
25           7264.548  21977.425
26            7899.27  22900.466
27           8270.618  22844.014
28           7715.101   22391.85
29           8252.255  22693.247
30           8097.205  22420.662
31            8248.89  21419.228
32           8312.688  21760.311
33           7771.325  20283.332
34           8530.585  23126.115
35           7898.097  21860.937
36           8295.718  19770.732
37           8117.437  19678.226
38           8323.472  24183.087
39           8906.446  24153.266
40             9165.5  23963.102
41               8585  22870.552
42             -6.334     -4.559
43                NaN        NaN  , 'Table 3':     Unnamed: 0                                         Unnamed: 1  \
0          NaN                                                NaN
1          NaN                                                NaN
2          NaN                                                NaN
3          NaN                                                NaN
4          NaN                                                NaN
5          NaN                                                NaN

In [22]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
import time

# URL du site web 
url = "https://www.agriculture.gov.au/abares/research-topics/agricultural-outlook/data#australian-crop-report-data"

# Démarrer web driver
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
# Aller sur le site web
driver.get(url)
# Attendre que la page se charge
time.sleep(5)

# XPath du fichier Excel 
xpath = '//*[@id="block-system-main-block"]/article/div/div/div[1]/div[3]/div/div/table/tbody/tr[1]/td[1]/a'

# Trouver le premier élément qui correspond au XPath
element = driver.find_element(By.XPATH, xpath)

# Obtenir l'URL du fichier Excel à partir de l'attribut 'href' de l'élément
excel_url = element.get_attribute('href')

# Fermer WebDriver
driver.quit()

# Télécharger le fichier Excel 
excel_response = requests.get(excel_url)

# Lire le contenu du fichier Excel en tant que DataFrame
fichier = io.BytesIO(excel_response.content)
df = pd.read_excel(fichier,sheet_name=None)
# Afficher le DataFrame
print(df)

{'Index':     Unnamed: 0               Australian crop report December 2023  \
0          NaN                                                NaN
1          NaN                                                NaN
2          NaN                                                NaN
3          NaN                                                NaN
4          NaN                                                NaN
5          NaN                                                NaN
6          NaN                                                NaN
7          NaN                                                NaN
8          NaN                                                NaN
9          NaN                                                NaN
10         NaN                                                NaN
11         NaN                                                NaN
12         NaN                                                NaN
13         NaN                                                NaN
14         NaN                                                NaN
15         NaN                                                NaN
16         NaN                                                NaN
17         NaN                                                NaN
18         NaN                                                NaN
19         NaN                                                NaN
20         NaN                                                NaN
21         NaN                                                NaN
22         NaN                                                NaN
23         NaN                                                NaN
24         NaN                                                NaN
25         NaN  © Commonwealth of Australia 2023. Ownership of...
26         NaN  ABARES 2023, Australian crop report: December ...

     Unnamed: 2  Unnamed: 3                                         Unnamed: 4
0           NaN         NaN                                                NaN
1           NaN         NaN                                                NaN
2           NaN         NaN                                                NaN
3           NaN         NaN                                                NaN
4           NaN         NaN                                                NaN
5   Data tables         NaN                                                NaN
6           NaN         NaN                                                NaN
7       Table 1         NaN  Table 1 Winter crop production, Australia, 198...
8       Table 2         NaN  Table 2 Winter crop area, Australia, 1989–90 t...
9       Table 3         NaN  Table 3 Summer crop area and production, Austr...
10      Table 4         NaN  Table 4 Winter crop forecasts, New South Wales...
11      Table 5         NaN  Table 5 Summer crop forecasts, New South Wales...
12      Table 6         NaN  Table 6 Winter crop forecasts, Queensland, 202...
13      Table 7         NaN  Table 7 Summer crop forecasts, Queensland, 202...
14      Table 8         NaN   Table 8 Winter crop forecasts, Victoria, 2023–24
15      Table 9         NaN  Table 9 Winter crop forecasts, South Australia...
16     Table 10         NaN  Table 10 Winter crop forecasts, Western Austra...
17     Table 11         NaN  Table 11 Winter crop production and area, Aust...
18     Table 12         NaN  Table 12 Summer crop production and area, Aust...
19     Table 13         NaN  Table 13 Production, major crops, Australian s...
20     Table 14         NaN  Table 14 Production, other crops, Australian s...
21     Table 15         NaN  Table 15 Supply and disposal of wheat, canola ...
22     Table 16         NaN  Table 16 Supply and disposal of coarse grains,...
23     Table 17         NaN  Table 17 Grain, oilseed and pulse prices, firs...
24          NaN         NaN                                                NaN
25          NaN         NaN                                                NaN
26          NaN         NaN                                                NaN  , 'Table 1':     Unnamed: 0                                         Unnamed: 1 Unnamed: 2  \
0          NaN                                                NaN        NaN
1          NaN                                                NaN        NaN
2          NaN                                                NaN        NaN
3          NaN                                                NaN        NaN
4          NaN                                                NaN        NaN
5          NaN  Table 1 Winter crop production, Australia, 198...        NaN
6          NaN                                               Year       Unit
7          NaN                                            1989–90         kt
8          NaN                                            1990–91         kt
9          NaN                                            1991–92         kt
10         NaN                                            1992–93         kt
11         NaN                                            1993–94         kt
12         NaN                                            1994–95         kt
13         NaN                                            1995–96         kt
14         NaN                                            1996–97         kt
15         NaN                                            1997–98         kt
16         NaN                                            1998–99         kt
17         NaN                                            1999–00         kt
18         NaN                                            2000–01         kt
19         NaN                                            2001–02         kt
20         NaN                                            2002–03         kt
21         NaN                                            2003–04         kt
22         NaN                                            2004–05         kt
23         NaN                                            2005–06         kt
24         NaN                                            2006–07         kt
25         NaN                                            2007–08         kt
26         NaN                                            2008–09         kt
27         NaN                                            2009–10         kt
28         NaN                                            2010–11         kt
29         NaN                                            2011–12         kt
30         NaN                                            2012–13         kt
31         NaN                                            2013–14         kt
32         NaN                                            2014–15         kt
33         NaN                                            2015–16         kt
34         NaN                                            2016–17         kt
35         NaN                                            2017–18         kt
36         NaN                                            2018–19         kt
37         NaN                                            2019–20         kt
38         NaN                                            2020–21         kt
39         NaN                                            2021–22         kt
40         NaN                                          2022–23 s         kt
41         NaN                                          2023-24 f         kt
42         NaN                       % change 2022–23  to 2023-24          %
43         NaN  f ABARES forecast. s ABARES estimate.\nNotes: ...        NaN

         Unnamed: 3 Unnamed: 4  Unnamed: 5       Unnamed: 6  \
0               NaN        NaN         NaN              NaN
1               NaN        NaN         NaN              NaN
2               NaN        NaN         NaN              NaN
3               NaN        NaN         NaN              NaN
4               NaN        NaN         NaN              NaN
5               NaN        NaN         NaN              NaN
6   New South Wales   Victoria  Queensland  South Australia
7          4841.223   3343.008    1829.027          4859.54
8          5826.706   2712.227    2486.538         3901.414
9          3909.599   2814.517     461.502         4534.015
10         5950.707   4120.684    1053.865         4797.718
11         7619.149   4479.907     834.394         4923.156
12         1528.143   1863.646     311.546         3044.445
13         6961.863    4500.51     745.907         5263.461
14        11286.144    4590.51     2468.14         5456.971
15         8557.372   3397.664    1639.374         5457.808
16         9717.859   3507.415    2323.341         6303.985
17        11525.912   5252.253    2221.165         4769.642
18        10829.162   6265.925    1338.758         7428.511
19        11169.933   5892.555    1156.408          8796.13
20         3484.555   1943.314     829.138         4222.664
21        10795.045   6961.477    1450.064         7359.142
22         10712.18   4214.428    1391.211         5297.508
23        11981.269   6266.823    1433.413         7517.847
24         3794.097     1747.9     924.215         2793.121
25         3999.205   4691.657    1194.122         4705.722
26         9438.381   3887.356    2325.569          4863.38
27         7786.963   5889.084    1616.867         7035.461
28         14783.65   7625.202    1820.613         9316.126
29        11952.068    7351.99      2328.7         7371.481
30        11123.416   6885.595    2156.003         6469.726
31         9772.994   6774.044     1516.17         7221.299
32         10444.88   5116.605     1463.68         7438.603
33        11623.645   3567.704    2103.724         6103.567
34        15510.259   9511.384     3159.24        10655.762
35         7743.001   7612.277    1437.898         7022.001
36         3243.472   4603.224     685.581         5486.945
37         3194.948   8334.363     694.754         5533.155
38        20332.159   9911.828    2392.115         7837.139
39        18896.966   8879.372        3486         8408.374
40         15470.16   11051.91    3359.712          12636.6
41        10331.597   9610.158    1749.725         8699.882
42          -33.216    -13.045      -47.92          -31.153
43              NaN        NaN         NaN              NaN

           Unnamed: 7 Unnamed: 8
0                 NaN        NaN
1                 NaN        NaN
2                 NaN        NaN
3                 NaN        NaN
4                 NaN        NaN
5                 NaN        NaN
6   Western Australia  Australia
7            6606.416  21518.534
8            7346.772  22325.977
9            7183.333  18962.288
10           8499.538  24487.185
11           9872.962  27796.784
12           7924.331  14719.274
13          10244.394  27785.136
14          11192.607  35060.019
15          11994.754  31112.569
16          12232.647  34159.264
17          13312.051  37141.718
18           8724.138  34662.351
19          12042.351  39132.959
20           6811.822  17359.461
21            16676.2  43313.331
22          12977.798  34670.877
23          13944.647  41226.046
24           8278.145  17580.385
25          10760.504  25415.201
26          13784.557  34377.266
27          12943.035  35343.283
28           8044.142  41672.012
29          16600.456  45672.773
30           11243.76  37936.026
31          16510.983  41880.733
32          14662.329  39197.548
33          14206.024  37686.737
34          17737.342  56675.335
35          14510.294   38395.55
36          17632.799   31736.71
37          12172.222  30002.894
38          16500.136  57075.422
39          23440.231  63221.504
40            26261.7  68938.873
41            15536.2  46072.169
42            -40.841     -33.17
43                NaN        NaN  , 'Table 2':     Unnamed: 0                                         Unnamed: 1 Unnamed: 2  \
0          NaN                                                NaN        NaN
1          NaN                                                NaN        NaN
2          NaN                                                NaN        NaN
3          NaN                                                NaN        NaN
4          NaN                                                NaN        NaN
5          NaN  Table 2 Winter crop area, Australia, 1989–90 t...        NaN
6          NaN                                               Year       Unit
7          NaN                                            1989–90    '000 ha
8          NaN                                            1990–91    '000 ha
9          NaN                                            1991–92    '000 ha
10         NaN                                            1992–93    '000 ha
11         NaN                                            1993–94    '000 ha
12         NaN                                            1994–95    '000 ha
13         NaN                                            1995–96    '000 ha
14         NaN                                            1996–97    '000 ha
15         NaN                                            1997–98    '000 ha
16         NaN                                            1998–99    '000 ha
17         NaN                                            1999–00    '000 ha
18         NaN                                            2000–01    '000 ha
19         NaN                                            2001–02    '000 ha
20         NaN                                            2002–03    '000 ha
21         NaN                                            2003–04    '000 ha
22         NaN                                            2004–05    '000 ha
23         NaN                                            2005–06    '000 ha
24         NaN                                            2006–07    '000 ha
25         NaN                                            2007–08    '000 ha
26         NaN                                            2008–09    '000 ha
27         NaN                                            2009–10    '000 ha
28         NaN                                            2010–11    '000 ha
29         NaN                                            2011–12    '000 ha
30         NaN                                            2012–13    '000 ha
31         NaN                                            2013–14    '000 ha
32         NaN                                            2014–15    '000 ha
33         NaN                                            2015–16    '000 ha
34         NaN                                            2016–17    '000 ha
35         NaN                                            2017–18    '000 ha
36         NaN                                            2018–19    '000 ha
37         NaN                                            2019–20    '000 ha
38         NaN                                            2020–21    '000 ha
39         NaN                                            2021–22    '000 ha
40         NaN                                          2022–23 s    '000 ha
41         NaN                                          2023–24 f    '000 ha
42         NaN                          change 2022–23 to 2023–24          %
43         NaN  f ABARES forecast. s ABARES estimate.\nNotes: ...        NaN

           Unnamed: 3 Unnamed: 4  Unnamed: 5       Unnamed: 6  \
0                 NaN        NaN         NaN              NaN
1                 NaN        NaN         NaN              NaN
2                 NaN        NaN         NaN              NaN
3                 NaN        NaN         NaN              NaN
4                 NaN        NaN         NaN              NaN
5                 NaN        NaN         NaN              NaN
6   New South \nWales   Victoria  Queensland  South Australia
7            3076.358   1814.547    1147.332         2860.921
8            3234.096   1866.916    1353.088         2713.525
9            2834.755   1794.777     704.773          2681.68
10           3005.767   1996.138     912.714         2846.786
11            3289.14   2099.858     815.896         2738.004
12           2579.453   2076.104     530.838         2741.614
13           3837.823   2197.453     844.112          2974.72
14           4676.443   2326.249    1225.306         3047.039
15           4543.845   2304.978    1187.732         3024.841
16           4925.747   2453.385    1377.743         3376.304
17           4977.248   2741.417    1282.035         3361.824
18           5395.149   2723.157    1087.987         3635.178
19           5308.641   2690.482     777.207         3800.736
20           4784.829   2914.812      715.84         3962.964
21           6101.873   3140.843    1027.013         3965.818
22           6438.776   3191.529     856.944         3964.479
23           5592.936   2969.206     965.638         3868.154
24           5671.152   3081.902     808.083         4140.694
25            6311.97   3375.025      872.57         4130.828
26           6295.016   3491.557    1208.452         3978.706
27           6105.974   3488.438    1172.971         3782.862
28           6157.614   3456.766    1216.739         3821.064
29           5969.049   3410.524    1204.958         3837.846
30           5852.155   3457.005    1222.316         3776.293
31           5313.871   3282.525    1105.308         3448.352
32           5491.147    3303.75      995.42         3638.508
33           5375.137   2914.823    1048.682         3152.365
34           6062.344   3230.918     1375.08         3904.354
35           5489.351   3508.836    1302.093         3644.832
36           3990.343   3349.635      725.12         3391.294
37           3789.405   3534.014     748.232         3473.315
38           7069.647   3599.412     1511.01         3660.692
39           6417.655   3488.666    1531.878         3789.422
40             5856.6       3567      1359.5             3981
41             5511.5   3568.396      1234.5         3945.606
42             -5.892      0.039      -9.195           -0.889
43                NaN        NaN         NaN              NaN

           Unnamed: 7 Unnamed: 8
0                 NaN        NaN
1                 NaN        NaN
2                 NaN        NaN
3                 NaN        NaN
4                 NaN        NaN
5                 NaN        NaN
6   Western Australia  Australia
7            4955.821  13873.634
8            5160.261  14349.881
9            5018.195  13058.076
10           5497.901  14284.325
11           5945.715   14915.05
12           6033.949  13988.148
13           6244.624  16126.669
14           6793.986  18097.638
15           7159.081  18247.356
16           7420.099  19580.726
17           7458.137  19846.413
18           7384.106  20252.516
19           7175.084  19775.241
20           7178.123  19582.071
21           7682.675  21943.717
22           7932.233   22406.92
23           7406.689   20827.28
24           6477.255  20200.974
25           7264.548  21977.425
26            7899.27  22900.466
27           8270.618  22844.014
28           7715.101   22391.85
29           8252.255  22693.247
30           8097.205  22420.662
31            8248.89  21419.228
32           8312.688  21760.311
33           7771.325  20283.332
34           8530.585  23126.115
35           7898.097  21860.937
36           8295.718  19770.732
37           8117.437  19678.226
38           8323.472  24183.087
39           8906.446  24153.266
40             9165.5  23963.102
41               8585  22870.552
42             -6.334     -4.559
43                NaN        NaN  , 'Table 3':     Unnamed: 0                                         Unnamed: 1  \
0          NaN                                                NaN
1          NaN                                                NaN
2          NaN                                                NaN
3          NaN                                                NaN
4          NaN                                                NaN
5          NaN                                                NaN

In [41]:
Table_1 = df['Table 1'].copy()

In [42]:
display(Table_1)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,"Table 1 Winter crop production, Australia, 198...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Year,Unit,New South Wales,Victoria,Queensland,South Australia,Western Australia,Australia
7,NaN,1989–90,kt,4841.223,3343.008,1829.027,4859.54,6606.416,21518.534
8,NaN,1990–91,kt,5826.706,2712.227,2486.538,3901.414,7346.772,22325.977
9,NaN,1991–92,kt,3909.599,2814.517,461.502,4534.015,7183.333,18962.288
10,NaN,1992–93,kt,5950.707,4120.684,1053.865,4797.718,8499.538,24487.185
11,NaN,1993–94,kt,7619.149,4479.907,834.394,4923.156,9872.962,27796.784
12,NaN,1994–95,kt,1528.143,1863.646,311.546,3044.445,7924.331,14719.274
13,NaN,1995–96,kt,6961.863,4500.51,745.907,5263.461,10244.394,27785.136
14,NaN,1996–97,kt,11286.144,4590.51,2468.14,5456.971,11192.607,35060.019
15,NaN,1997–98,kt,8557.372,3397.664,1639.374,5457.808,11994.754,31112.569
16,NaN,1998–99,kt,9717.859,3507.415,2323.341,6303.985,12232.647,34159.264
17,NaN,1999–00,kt,11525.912,5252.253,2221.165,4769.642,13312.051,37141.718
18,NaN,2000–01,kt,10829.162,6265.925,1338.758,7428.511,8724.138,34662.351
19,NaN,2001–02,kt,11169.933,5892.555,1156.408,8796.13,12042.351,39132.959
20,NaN,2002–03,kt,3484.555,1943.314,829.138,4222.664,6811.822,17359.461
21,NaN,2003–04,kt,10795.045,6961.477,1450.064,7359.142,16676.2,43313.331
22,NaN,2004–05,kt,10712.18,4214.428,1391.211,5297.508,12977.798,34670.877
23,NaN,2005–06,kt,11981.269,6266.823,1433.413,7517.847,13944.647,41226.046
24,NaN,2006–07,kt,3794.097,1747.9,924.215,2793.121,8278.145,17580.385
25,NaN,2007–08,kt,3999.205,4691.657,1194.122,4705.722,10760.504,25415.201
26,NaN,2008–09,kt,9438.381,3887.356,2325.569,4863.38,13784.557,34377.266
27,NaN,2009–10,kt,7786.963,5889.084,1616.867,7035.461,12943.035,35343.283
28,NaN,2010–11,kt,14783.65,7625.202,1820.613,9316.126,8044.142,41672.012
29,NaN,2011–12,kt,11952.068,7351.99,2328.7,7371.481,16600.456,45672.773
30,NaN,2012–13,kt,11123.416,6885.595,2156.003,6469.726,11243.76,37936.026
31,NaN,2013–14,kt,9772.994,6774.044,1516.17,7221.299,16510.983,41880.733
32,NaN,2014–15,kt,10444.88,5116.605,1463.68,7438.603,14662.329,39197.548
33,NaN,2015–16,kt,11623.645,3567.704,2103.724,6103.567,14206.024,37686.737
34,NaN,2016–17,kt,15510.259,9511.384,3159.24,10655.762,17737.342,56675.335
35,NaN,2017–18,kt,7743.001,7612.277,1437.898,7022.001,14510.294,38395.55
36,NaN,2018–19,kt,3243.472,4603.224,685.581,5486.945,17632.799,31736.71
37,NaN,2019–20,kt,3194.948,8334.363,694.754,5533.155,12172.222,30002.894
38,NaN,2020–21,kt,20332.159,9911.828,2392.115,7837.139,16500.136,57075.422
39,NaN,2021–22,kt,18896.966,8879.372,3486,8408.374,23440.231,63221.504
40,NaN,2022–23 s,kt,15470.16,11051.91,3359.712,12636.6,26261.7,68938.873
41,NaN,2023-24 f,kt,10331.597,9610.158,1749.725,8699.882,15536.2,46072.169
42,NaN,% change 2022–23 to 2023-24,%,-33.216,-13.045,-47.92,-31.153,-40.841,-33.17
43,NaN,f ABARES forecast. s ABARES estimate.\nNotes: ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN