In [44]:
import pandas as pd
import requests
from selenium import webdriver
from webdriver_manager.firefox import GeckoDriverManager
from selenium.webdriver.firefox.service import Service
from selenium.webdriver.common.by import By
import io
from io import BytesIO
import time

# URL du site web 
url = "https://www.agriculture.gov.au/abares/research-topics/agricultural-outlook/data#australian-crop-report-data"

# Démarrer web driver
driver = webdriver.Firefox(service=Service(GeckoDriverManager().install()))
# Aller sur le site web
driver.get(url)
# Attendre que la page se charge
time.sleep(5)

# XPath du fichier Excel 
xpath = '//*[@id="block-system-main-block"]/article/div/div/div[1]/div[3]/div/div/table/tbody/tr[1]/td[1]/a'

# Trouver le premier élément qui correspond au XPath
element = driver.find_element(By.XPATH,xpath)

# Obtenir l'URL du fichier Excel à partir de l'attribut 'href' de l'élément
excel_url = element.get_attribute('href')

# Fermer WebDriver
driver.quit()

# Télécharger le fichier Excel 
excel_response = requests.get(excel_url)

# Lire le contenu du fichier Excel en tant que DataFrame
fichier=io.BytesIO(excel_response.content)
df = pd.read_excel(fichier,sheet_name=None)

In [45]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
import time

# URL du site web 
url = "https://www.agriculture.gov.au/abares/research-topics/agricultural-outlook/data#australian-crop-report-data"

# Démarrer web driver
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
# Aller sur le site web
driver.get(url)
# Attendre que la page se charge
time.sleep(5)

# XPath du fichier Excel 
xpath = '//*[@id="block-system-main-block"]/article/div/div/div[1]/div[3]/div/div/table/tbody/tr[1]/td[1]/a'

# Trouver le premier élément qui correspond au XPath
element = driver.find_element(By.XPATH, xpath)

# Obtenir l'URL du fichier Excel à partir de l'attribut 'href' de l'élément
excel_url = element.get_attribute('href')

# Fermer WebDriver
driver.quit()

# Télécharger le fichier Excel 
excel_response = requests.get(excel_url)

# Lire le contenu du fichier Excel en tant que DataFrame
fichier = io.BytesIO(excel_response.content)
df = pd.read_excel(fichier,sheet_name=None)

In [46]:
Table_1 = df['Table 1'].copy()

In [47]:
display(Table_1)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,"Table 1 Winter crop production, Australia, 198...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Year,Unit,New South Wales,Victoria,Queensland,South Australia,Western Australia,Australia
7,NaN,1989–90,kt,4841.223,3343.008,1829.027,4859.54,6606.416,21518.534
8,NaN,1990–91,kt,5826.706,2712.227,2486.538,3901.414,7346.772,22325.977
9,NaN,1991–92,kt,3909.599,2814.517,461.502,4534.015,7183.333,18962.288
10,NaN,1992–93,kt,5950.707,4120.684,1053.865,4797.718,8499.538,24487.185
11,NaN,1993–94,kt,7619.149,4479.907,834.394,4923.156,9872.962,27796.784
12,NaN,1994–95,kt,1528.143,1863.646,311.546,3044.445,7924.331,14719.274
13,NaN,1995–96,kt,6961.863,4500.51,745.907,5263.461,10244.394,27785.136
14,NaN,1996–97,kt,11286.144,4590.51,2468.14,5456.971,11192.607,35060.019
15,NaN,1997–98,kt,8557.372,3397.664,1639.374,5457.808,11994.754,31112.569
16,NaN,1998–99,kt,9717.859,3507.415,2323.341,6303.985,12232.647,34159.264
17,NaN,1999–00,kt,11525.912,5252.253,2221.165,4769.642,13312.051,37141.718
18,NaN,2000–01,kt,10829.162,6265.925,1338.758,7428.511,8724.138,34662.351
19,NaN,2001–02,kt,11169.933,5892.555,1156.408,8796.13,12042.351,39132.959
20,NaN,2002–03,kt,3484.555,1943.314,829.138,4222.664,6811.822,17359.461
21,NaN,2003–04,kt,10795.045,6961.477,1450.064,7359.142,16676.2,43313.331
22,NaN,2004–05,kt,10712.18,4214.428,1391.211,5297.508,12977.798,34670.877
23,NaN,2005–06,kt,11981.269,6266.823,1433.413,7517.847,13944.647,41226.046
24,NaN,2006–07,kt,3794.097,1747.9,924.215,2793.121,8278.145,17580.385
25,NaN,2007–08,kt,3999.205,4691.657,1194.122,4705.722,10760.504,25415.201
26,NaN,2008–09,kt,9438.381,3887.356,2325.569,4863.38,13784.557,34377.266
27,NaN,2009–10,kt,7786.963,5889.084,1616.867,7035.461,12943.035,35343.283
28,NaN,2010–11,kt,14783.65,7625.202,1820.613,9316.126,8044.142,41672.012
29,NaN,2011–12,kt,11952.068,7351.99,2328.7,7371.481,16600.456,45672.773
30,NaN,2012–13,kt,11123.416,6885.595,2156.003,6469.726,11243.76,37936.026
31,NaN,2013–14,kt,9772.994,6774.044,1516.17,7221.299,16510.983,41880.733
32,NaN,2014–15,kt,10444.88,5116.605,1463.68,7438.603,14662.329,39197.548
33,NaN,2015–16,kt,11623.645,3567.704,2103.724,6103.567,14206.024,37686.737
34,NaN,2016–17,kt,15510.259,9511.384,3159.24,10655.762,17737.342,56675.335
35,NaN,2017–18,kt,7743.001,7612.277,1437.898,7022.001,14510.294,38395.55
36,NaN,2018–19,kt,3243.472,4603.224,685.581,5486.945,17632.799,31736.71
37,NaN,2019–20,kt,3194.948,8334.363,694.754,5533.155,12172.222,30002.894
38,NaN,2020–21,kt,20332.159,9911.828,2392.115,7837.139,16500.136,57075.422
39,NaN,2021–22,kt,18896.966,8879.372,3486,8408.374,23440.231,63221.504
40,NaN,2022–23 s,kt,15470.16,11051.91,3359.712,12636.6,26261.7,68938.873
41,NaN,2023-24 f,kt,10331.597,9610.158,1749.725,8699.882,15536.2,46072.169
42,NaN,% change 2022–23 to 2023-24,%,-33.216,-13.045,-47.92,-31.153,-40.841,-33.17
43,NaN,f ABARES forecast. s ABARES estimate.\nNotes: ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN